.container {
    display: grid;
    gap: 20px;
    padding: 30px 50px;
    
}


.title{
    text-align: center;
    color: #2E1760;
    font-weight: 700;
    margin-bottom: 50px;
    
}
.bike-shocase{
    display: grid;
    gap: 50px;
}


.position-relative {
    position: relative;
    width: 233px;
    /* height: 300px; */
    

}

.cart{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px 30px;
    width:inherit;
    position: fixed;
    top: 15px;
    
    z-index: 5;
    background-color: #2E1760 ;
    border-radius: 5px;
}


@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: 4fr 1fr;
    }

    .bike-shocase{
        grid-template-columns: repeat(3, 1fr);
    }
    .cart{
        right: 10px;
    }
}